@page   "/books"
@inherits IndexBase

<div class="row row-cols-1 row-cols-md-2" style="margin-top: 6rem;">
    @foreach (var Item in EleItem)
    {
        <BlazorApp.WEB.Pages.Components.ItemCard Item="Item"></BlazorApp.WEB.Pages.Components.ItemCard>
    }
    </div>
