@page   "/books"
@inherits IndexBase



<AuthorizeView>
    <Authorized>
        <div style="text-align:center">
            <div class="input-group input-group-lg">
                <input type="email" class="form-control" id="exampleFormControlInput1" @bind="SearchedText" placeholder="Titolo/Autore">
                <button @onclick="Search" class="btn-primary">Cerca</button>
            </div>

        </div>
        @if (SearchedItem.Any())
        {
            @foreach (var item in SearchedItem)
            {
                <div class="row row-cols-1 row-cols-md-2" style="margin-top: 6rem;">
                    @foreach (var Item in SearchedItem)
                    {
                        <BlazorApp.WEB.Pages.Components.ItemCard Item="Item" ShowReview="()=>ShowReviewClick(Item)"></BlazorApp.WEB.Pages.Components.ItemCard>
                    }
                </div>
            }
        }

        @if (!SearchedItem.Any())
        {

            <div class="row row-cols-1 row-cols-md-2" style="margin-top: 6rem;">
                @foreach (var Item in EleItem)
                {
                    <BlazorApp.WEB.Pages.Components.ItemCard Item="Item" ShowReview="()=>ShowReviewClick(Item)"></BlazorApp.WEB.Pages.Components.ItemCard>
                }
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <h2>Login Richiesto</h2>
        <a href="/Identity/Account/Login">Loggati</a>
    </NotAuthorized>
</AuthorizeView>
