@page   "/favourite"

@inherits UserSavedBooksBase
<h3>Libri Salvati</h3>

<br />

<div class="row row-cols-1 row-cols-md-2" style="margin-top: 6rem;">
    @foreach (var Item in ItemList)
    {
        <BlazorApp.WEB.Pages.Components.ItemCard Item="Item" ShowRemoveButton="true"></BlazorApp.WEB.Pages.Components.ItemCard>
    }
</div>
