@page "/home"
@inherits HomeBase
<h3>Home</h3>


    @if (EleBooks.Any())
    {
        @foreach (var Book in EleBooks)
        {
        <article class="card-all" style="margin-left:0;">
            <header class="card-header">
                
                <h1>@Book.Titolo</h1>
                @foreach (var author in Book.Authors)
                {
                    <h4>@author.AuthorName</h4>
                }
            </header>

            @*<div class="card-author">
                <a class="author-avatar" href="/profile/{{object.author}}">

                    <img src="{{user.get_absolute_image}}" />

                </a>
                <svg class="half-circle" viewBox="0 0 106 57">
                    <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
                </svg>

                <div class="author-name">
                    <div class="author-name-prefix">Author</div>
                    {{object.author}}

                    <a class="modaltrigger" href="#">
                        <img src="/media/AppImages/comment_icon.png" style="display: inline-block; padding-left: 15%;">
                    </a>
                </div>
            </div>*@
            @*<div class="commentsect">
                {% if not object.comments.all %}
                <h5 style="display:inline-block">Nessun Commento</h5>
                {% endif %}

                <hr style="border: 1px solid black;">
                {% if object.comments.all %}
                {% for comment in object.comments.all|slice:2 %}
                <div class="comment">
                    <a class="author-avatar" href="/profile/{{object.author}}">
                        <h3>{{comment.CommentAuthor}}</h3>
                    </a>
                    <h5>{{comment.CommentContent}}</h5>
                </div>
                {% endfor %}
                {% endif %}

                <div class="morecomments">
                    {% if object.comments.count > 2 %}
                    <a href="/{{ object.id }}/{{ object.slug }}">
                        <p>Carica Più Commenti</p>
                    </a>
                    {% endif %}
                </div>
            </div>*@
        </article>
        }
    }

<style>
    body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'DM Mono', monospace;
}

a {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    text-align:left;
}

    .card-list::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .card-list::-webkit-scrollbar-thumb {
        background: #201c29;
        border-radius: 10px;
        box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
    }

    .card-list::-webkit-scrollbar-track {
        background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
    }


.card {
    height: 500px;
    width: 400px;
    min-width: 300px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    margin-left:0;
    position:absolute;
    align-content:center

}

.card-all {
    height: 700px;
    width: 600px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    left:0px;
    text-align:left;
}

.card-post {
    height: 150px;
    width: 600px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    margin-left:0;
}


.card:focus-within ~ .card, .card:hover ~ .card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

    .card-header p {
        font-size: 14px;
        margin: 0 0 1rem;
        color: #7a7a8c;
    }

    .card-header h2 {
        font-size: 20px;
        margin: .25rem 0 auto;
        text-decoration: none;
        color: white;
        border: 0;
        display: inline-block;
        cursor: pointer;
    }

        .card-header h2:hover {
            background: linear-gradient(90deg,#ff8a00,#e52e71);
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

.card-author {
    margin: 1rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

    .author-avatar img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        filter: grayscale(100%);
        display: block;
        overflow: hidden;
        margin: 16px 10px;
    }

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.card-list-all {
    margin: 20rem;
}

.card-all:focus-within ~ .card, .card:hover ~ .card {
    transform: translateY(10px);
}

.card-all:hover {
    transform: translateY(-1rem);
}

.card-list-all {
    margin: 50rem;
}

.carduser {
    height: 400px;
    width: 300px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

    .carduser:focus-within ~ .card, .card:hover ~ .card {
        transform: translateX(130px);
    }

    .carduser:hover {
        transform: translateY(-1rem);
    }

.comment h5 {
    margin-top: -15px;
}

.morecomments {
    margin-top: -20px;
    text-align: center;
}

.card-edit {
    min-width: 300px;
    padding: 3rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    text-align: center;
}

media only screen and (max-width: 600px) {
    .card-edit {
        margin-left: 2%;
        width: 350px;
    }

    .card-all {
        width: 300px;
        height: 30%;
    }

    .card-post {
        width: 300px;
        height: 30%;
    }
}

media only screen and (min-width: 600px) {
    .card-edit {
        width: 100px;
        height: 300px;
        width: 400px;
        margin-left: 0%;
        margin-right: 85%;
        margin-top: 5%;
    }

    .card-all {
        width: 600px;
        min-width: 10%;
        height: 30%;
    }
}

</style>